<div class="height-class is-flex is-flex-direction-column is-justify-content-centered py-6 has-text-centered" style="border: 1px solid red">
<h1 class='has-text-weight-bold title is-4'>Log in</h1>

<div class="row">
  <div class="col-md-6 offset-3 has-text-start">
    <%= form_tag '/login' do%>
      <%= label_tag :name, "Username" ,class:"has-text-weight-bold" %>   
      <%= text_field_tag :name,"",autofocus: true, class: 'input is-normal' %>

      <%= submit_tag "LogIn", class:"button is-primary mt-5 px-6" %>
    <% end %>
  </div>
  <%= link_to "Sign up", signup_path, class: "my-2 button " %>
</div>
</div>
