<div class="height-class scroll background_images">
<% @groups.each do |gup|%>
  <%= link_to(gup) do %>
  <div class="is-flex is-justify-content-space-between card m-2 card-radius">
    <div class="card_design is-align-content-baseline m-2 border-design p-1 px-2">
      <i class='<%= gup.Icon %> image p-1'></i>
    </div>
    <div class="is-flex is-flex-direction-column is-justify-content-end has-text-centered">
      <div class="title is-4 m-2 has-text-weight-bold">
        <%= gup.name %>
      </div>
      <div class="card-date has-text-weight-bold px-2">
        <%= gup.created_at.strftime("%B/%d/%Y")%>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>

<p class="control has-text-centered create_button_position py-2 background_images">
  <%= link_to 'Create New Group', new_group_path, class: "button is-success" %>
</p>
