<div class="row">
  <div class="col-md-6 offset-3 has-text-start">
    <%= form_for @groups do |f| %>

      <%= f.label :name, class: 'has-text-weight-bold' %>
      <%= f.text_field :name, required: true, class: 'mb-1 form-control mx-0' %>

      <div class="field check-input-style">
      <%= f.label :icon, class: "checkbox" %>
      <div class="check-item-style">
        <%= radio_button_tag(:icon, "fa fa-500px") %>    
        <i class="fa fa-500px"></i>
      </div>
      <div class="check-item-style">
        <%= radio_button_tag(:icon, "fa fa-american-sign-language-interpreting") %>    
        <i class="fa fa-american-sign-language-interpreting "></i>
      </div>
      <div class="check-item-style">
        <%= radio_button_tag(:icon, "fa fa-grav") %>    
        <i class="fa fa-grav"></i>
      </div>

      <%= f.submit "Create Group", class: "button is-success mt-5 px-6" %>
    <% end %>
  </div>
</div>
</div>
