<div class="height-class scroll background_images">
<div class="control is-flex is-flex-direction-column">
    <i class="<%= @group.Icon %> title is-2 mt-4 has-text-centered"></i>
    <h2 class="title is-5 has-text-white has-text-centered">
      <%= @group.name.upcase %>
    </h2>
    <h4 class="has-text-white has-text-centered has-text-weight-bold">
      <%= "Created By: #{find_user(@group.user_id).name.upcase}" %>
    </h4>
</div>
<% @trans.each do |t| %>
  <div class="card m-2 card-radius">
    <div class="card_design is-flex is-justify-content-space-between px-3 pt-2">
      <div class="title is-5 ">
        <%= t.name %>
      </div>
      <div class="title is-5">
        <%= t.amount %>
        <div class="card-date has-text-weight-bold">
          <%= t.created_at.strftime("%B/%d/%Y")%>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<p class="control has-text-centered create_button_position py-2 background_images">
  <%= link_to "Back", :back , class:"button is-success" %>
</p>