<div class="control mr-5 mb-3">
  <h2 class="title is-5 has-text-white">
    Welcome <%= current_user.name%>!
  </h2>
</div>
<p class="control mr-3">
  <%= link_to 'All Transactions', transactions_path, class: "button is-success" %>
</p>
<p class="control mr-3">
  <%= link_to 'ALL group', groups_path, class: "button is-success" %>
</p>
<p class="control mr-3">
  <%= link_to 'Dashboard', current_user, class: "button is-success" %>
</p>
<p class="control">
  <%= link_to 'Log Out', logout_url, class: "button is-danger" %>
</p>
