<div class="row height-class background_images">
  <div class="col-md-6 offset-3 is-centered has-text-centered m-3">
    <%= form_for @transaction do |f| %>  

      <div class="m-2">
        <%= f.text_field :name, required: true, minlength: 4, class: 'input',placeholder: 'Name' %>
      </div>
      <div class="m-2">
        <%= f.number_field :amount, required: true, class: 'input',placeholder: 'Amount' %>
      </div>
      <div class="dropdown is-active has-text-weight-bold m-3" id="group_id">
        <%= f.label :group_id,class: 'has-text-white dropdown is-active mx-2' %>
        <%= f.collection_select(:group_id, Group.all, :id, :name, {:prompt => 'Select Group'}, {:required => true}) %>
      </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
    
      <%= f.submit "Create Transaction", class: "button is-success mt-5 px-6 m-3" %>
    <% end %>
  </div>
</div>
