<div class="height-class scroll background_images">
<div class="p-3 is-flex is-justify-content-space-between has-text-white has-text-weight-bold has-text-centered has-background-light has-text-black">
  <span>
    <%= "Total Amount" %>
  </span>
  <span>
      <%= "$#{@amount_sum}" %>
  </span>
</div>
<% @transactions.each do |t|%>
  <%= link_to(t) do %>
  <div class="card m-2 card-radius">
    <div class="card_design is-flex is-justify-content-space-between px-3 pt-2">
      <div class="title is-5 ">
        <%= t.name %>
      </div>
      <div class="title is-5">
        <%= "$#{t.amount}" %>
        <div class="card-date has-text-weight-bold">
          <%= t.created_at.strftime("%B/%d/%Y")%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>

<p class="control has-text-centered create_button_position py-2 background_images">
  <%= link_to 'Create New Transaction', new_transaction_path, class: "button is-success" %>
</p>
